<% action_url = action_type == :edit ? admin_article_url(article) : admin_articles_url %>
<% form_method = action_type == :edit ? "PATCH" : "POST" %>
<% submit_text = action_type == :edit ? "Update Article" : "Create Article" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= form_method %>">
  <label>Headline: 
    <input type="text" name="article[title]" id="article-headline" value="<%= article.title %>">
  </label>
  <button id="get-ai-article">Generate AI Article</button>
  <br>
  <label>Author: 
    <select name="article[author_id]">
      <% @authors.each do |author| %>
      <option value="<%= author.id %>" <%= article.author_id == author.id ? "selected" : "" %>>
        <%= "#{author.id} - #{author.name} - #{author.education}" %>
      </option>
      <% end %>
    </select>
  </label>
  <br>
  <label>Picture: 
  <select name="article[photo_id]">
    <% @photos.each do |photo| %>
      <option value="<%= photo.id %>" <%= article.photo_id == photo.id ? "selected" : "" %>>
        <%= "#{photo.id} - #{photo.title}" %>
      </option>
    <% end %>
  </select>
  </label>
  <br>
  <label>Section: 
    <select name="article[section]">
      <% %w(politics sports business us).each do |section| %>
      <option value="<%= section %>" <%= article.section == section ? "selected" : "" %>>
        <%= section %>
      </option>
      <% end %>
    </select>
  </label>
  <br>
  <label>Featured: 
    <label>
      <input 
        type="radio" 
        name="article[featured]" 
        value="true" 
        <%= article.featured ? "checked" : "" %>>
      yes
    </label>
    <label>
      <input 
        type="radio" 
        name="article[featured]" 
        value="false" 
        <%= article.featured ? "" : "checked" %>>
      no
    </label>
  </label>
  <br>
  <label>Highlighted: 
    <label>
      <input 
        type="radio" 
        name="article[highlighted]" 
        value="true" 
        <%= article.highlighted ? "checked" : "" %>>
      yes
    </label>
    <label>
      <input 
        type="radio" 
        name="article[highlighted]" 
        value="false" 
        <%= article.highlighted ? "" : "checked" %>>
      no
    </label>
  </label>
  <br>
  <label>Article: 
    <textarea name="article[body]" id="ai-generated-article" cols="80" rows="25"><%= article.body %></textarea>
  </label>
  <input type="submit" value="<%= submit_text %>">
</form>