<h1><%= @photo.title %></h1>
<a href="<%= edit_admin_photo_path(@photo) %>">Edit Photo</a>
<br>
<br>
<h2><a href="<%= @photo.source_url %>"><%= @photo.alt_text %></a></h2>
<% if @photo.thumbnail.attached? %>
  <h4>Thumbnail</h4>
  <%= image_tag @photo.thumbnail %>
  <h4>Full Image</h4>
  <%= image_tag @photo.image %>
<% end %>
<br>
<%= form_for [:admin, @photo], method: :delete do |f| %>
  <%= f.submit "Delete Photo" %>
<% end %>
<br>