<!DOCTYPE html>
<html>
  <head>
    <title>Admin: AiNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%# if site_admin? %>
    <script type="text/javascript">
      window.deepApiKey = "<%= Rails.application.credentials.deepai[:api_key] %>"
    </script>
    <%# end %>
    <style>
      .profiler-results {
        display: none;
      }
    </style>
  </head>

  <body>
    <h1>Admin site</h1>
    <%= yield %>
  </body>
</html>
