<!DOCTYPE html>
<html>
  <head>
    <title>Admin: Ersatz Tribune</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript">
      window.deepApiKey = "<%= Rails.application.credentials.deepai[:api_key] %>"
    </script>
    <style>
      .profiler-results {
        display: none;
      }
    </style>
  </head>

  <body>
    <h1>Admin Portal</h1>
    <%= render "admin/shared/nav" %>
    <%= yield %>
  </body>
</html>
