<!DOCTYPE html>
<html>
  <head>
    <title>Admin: Banner Weekly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application' %>
    <style>
      .profiler-results {
        display: none;
      }
    </style>
  </head>

  <body>
    <h1>Admin Portal</h1>
    <% if logged_in? %>
      <%= render "admin/shared/nav" %>
    <% end %>
    <%= yield %>
  </body>
</html>
