<!DOCTYPE html>
<html>
  <head>
    <title>AiNews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- for dev purposes when there's no wifi -->
    <script src="/packs/jquery-3.6.0.min.js"></script>
    <!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    -->
    <!-- end of comment -->
    <% if logged_in? %>
      <script>
        window.currentUser = "<%= current_user.username %>";
      </script>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'ai_news' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
